extends layout

block content
  .row
    a.btn.btn-primary.pull-right( data-toggle="modal" data-target="#addModal") Add User
  .row
    // BEGIN: User List.
    table.table.table-striped
      thead
        tr
          th Name
          th Email Address
          th SMS Address
          th Proximity Arm
          th Notify by Email
          th Notify by SMS
          th IP Address
          th Status
      tbody
        tr(ng-repeat='user in users')
          td {{user.name}}
          td 
            a(ng-click='removeUser( user )') {{user.email}}
          td {{user.sms}}
          td {{user.proximity_arm}}
          td {{user.notify_email}}
          td {{user.notify_sms}}
          td {{user.ip}}        
          td 
            a(ng-click='removeUser( user )') {{user.enabled}}
    // END: User List.
  .row
    // BEGIN: Add user modal
    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.modal-header-primary
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |             
            h4#addModalLabel.modal-title Add a user
          |           
          .modal-body
            form
              // Name
              .form-group
                label.control-label
                  | Name:
                input.form-control(type='input', ng-model='newuser.name')
                  
              // Email Address
              .form-group
                label.control-label
                  | Email Address:
                input.form-control#addEmailAddress(type='input', ng-model='newuser.email')
                  
              // SMS Address
              .form-group
                label.control-label
                  | SMS Address(Email Format):
                input.form-control(type='input', ng-model='newuser.sms')
                
              // IP Address
              .form-group
                label.control-label
                  | IP Address:
                input.form-control(type='input', ng-model='newuser.ip')
                
              // Proximity Arm
              .form-group
                label.control-label
                  | Proximity Arm: 
                input(type='checkbox', ng-model='newuser.proximity_arm')
                
              // Notify by Email
              .form-group
                label.control-label Notify by Email:
                | 
                input(type='checkbox', ng-model='newuser.notify_email')
                
              // Notify by SMS?
              .form-group
                label.control-label Notify by SMS:
                | 
                input(type='checkbox', ng-model='newuser.notify_sms')

          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            |             
            button.btn.btn-primary(type='button', ng-click='addUser()', data-dismiss='modal') Create User

    // BEGIN: Add Zone modal
    #addZoneModal.modal(tabindex='-1', role='dialog', aria-labelledby='addZoneModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.modal-header-danger
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |             
            h4#addZoneModalLabel.modal-title Add a zone
          |           
          .modal-body
            form
              // ZONE
              .form-group
                label.control-label(for='addZoneName') Zone Name:
                |                 
                input.form-control#addZoneName(type='text')
          | 
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            |             
            button.btn.btn-primary(type='button', ng-click='addZone()', data-dismiss='modal') Create Zone
    // BEGIN: Add Type modal
    #addTypeModal.modal(tabindex='-1', role='dialog', aria-labelledby='addTypeModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.modal-header-danger
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |             
            h4#addTypeModalLabel.modal-title Add a type
          |           
          .modal-body
            form
              // ZONE
              .form-group
                label.control-label(for='addTypeName') Type Name:
                |                 
                input.form-control#addTypeName(type='text')
          | 
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            |             
            button.btn.btn-primary(type='button', ng-click='addType()', data-dismiss='modal') Create Type
block javascripts
  script(type='text/javascript', src='javascripts/users.js')

  
