extends layout

block content
  .row
    a.btn.btn-primary.pull-right( data-toggle="modal" data-target="#addModal") Add User
  .row
    // BEGIN: User List.
    table.table.table-striped
      thead
        tr
          th Name
          th Email Address
          th SMS Address
          th Proximity Arm
          th Notify by Email
          th Notify by SMS
          th IP Address
          th Status
      tbody
        tr(ng-repeat='user in users')
          td {{user.zone}}
          td 
            a(ng-click='removeUser( user )') {{user.name}}
          td {{user.type}}
          td {{user.GPIO}}
          td {{user.pin}}
          td {{user.normal}}
          td {{user.current}}        
          td 
            a(ng-click='removeUser( user )') {{user.enabled}}
    // END: User List.
  .row
    // BEGIN: Add user modal
    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.modal-header-primary
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |             
            h4#addModalLabel.modal-title Add a user
          |           
          .modal-body
            form
              // ZONE
              .form-group
                a.pull-right(href='#', data-toggle="modal" data-target="#addZoneModal") Add
                label.control-label(for='addZone') Zone:
                |                 
                select#addZone.form-control
                  option(ng-repeat='zone in zones',value='{{zone.name}}') {{zone.name}}
                  
              // Type
              .form-group
                a.pull-right(href='#', data-toggle="modal" data-target="#addTypeModal") Add
                label.control-label(for='addType') User Type:
                select#addType.form-control
                  option(ng-repeat='type in types',value='{{type.name}}') {{type.name}}
                  
              // Name
              .form-group
                label.control-label(for='addName') Name:
                input.form-control#addName(type='input')
                
              // Normal
              .form-group
                label.control-label(for='addNormal') Normal Output:
                input.form-control#addNormal(type='input')
                
              // GPIO
              .form-group
                label.control-label(for='addGPIO') GPIO #:
                input.form-control#addGPIO(type='input')
                
              // Enabled?
              .form-group
                label.control-label(for='addEnabled') Enabled:
                | 
                input#addEnabled(type='checkbox')

          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            |             
            button.btn.btn-primary(type='button', ng-click='addUser()', data-dismiss='modal') Create User

    // BEGIN: Add Zone modal
    #addZoneModal.modal(tabindex='-1', role='dialog', aria-labelledby='addZoneModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.modal-header-danger
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |             
            h4#addZoneModalLabel.modal-title Add a zone
          |           
          .modal-body
            form
              // ZONE
              .form-group
                label.control-label(for='addZoneName') Zone Name:
                |                 
                input.form-control#addZoneName(type='text')
          | 
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            |             
            button.btn.btn-primary(type='button', ng-click='addZone()', data-dismiss='modal') Create Zone
    // BEGIN: Add Type modal
    #addTypeModal.modal(tabindex='-1', role='dialog', aria-labelledby='addTypeModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.modal-header-danger
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |             
            h4#addTypeModalLabel.modal-title Add a type
          |           
          .modal-body
            form
              // ZONE
              .form-group
                label.control-label(for='addTypeName') Type Name:
                |                 
                input.form-control#addTypeName(type='text')
          | 
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            |             
            button.btn.btn-primary(type='button', ng-click='addType()', data-dismiss='modal') Create Type
block javascripts
  script(type='text/javascript', src='javascripts/users.js')

  
